################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PMOC360/.vs
/PMOC360/PMOC360.API/bin/Debug/net8.0
/PMOC360/PMOC360.API/obj
/PMOC360/PMOC360.Data/bin/Debug/net8.0
/PMOC360/PMOC360.Data/obj
/PMOC360/PMOC360.Domain/bin/Debug/net8.0
/PMOC360/PMOC360.Domain/obj
/PMOC360/PMOC360.Repository/bin/Debug/net8.0
/PMOC360/PMOC360.Repository/obj
/PMOC360/PMOC360.Service/bin/Debug/net8.0
/PMOC360/PMOC360.Service/obj
/PMOC360/PMOC360.Web/bin/Debug/net8.0
/PMOC360/PMOC360.Web/obj
/B.OS/B.OS.API/bin/Debug/net8.0
/B.OS/B.OS.API/obj/Debug/net8.0/ref
/B.OS/B.OS.API/obj/Debug/net8.0/staticwebassets
/B.OS/B.OS.API/obj/Debug/net8.0/refint
/B.OS/B.OS.WEB/bin/Debug/net8.0
/B.OS/.vs/B.OS/FileContentIndex
