@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 text-center">
        <h6>Clientes</h6>
    </div>
    <div class="col-md-6 text-center">
        <h6>Faturas</h6>
    </div>
    <div class="col-12 text-center">
        <h6>Ordem de Serviço</h6>
    </div>
</div>
